body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
 }

 header{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 .wrapper{
     margin: 0 auto; 
     width: 700px; 
     text-align: center; 
      
 }
 .done-section{
     margin: 0 auto; 
     width: 900px; 
     visibility: hidden;
 }
 
 .high-score{
 
     margin: 0 auto; 
     width: 900px; 
     visibility: hidden;
  }
 
 .all_btn{
     background:dodgerblue; 
     padding: 10px;
     margin: 10px;
     width: 50%; 
     border: 1px solid cornsilk;
     border-radius: 5px;
     color: white;   
     font-size: 1.em;
     text-align: center;
    
     
     
 }
 
 
 button{
    background:dodgerblue; 
    padding: 10px;
    margin: 10px;
    width: 30%; 
    border: 1px solid cornsilk;
    border-radius: 5px;
    color: white;   
    font-size: 1.em;
    text-align: center;
      
 }
 
 @media only screen 
 and (min-width:120px) 
 and (max-width:980px) {
 
     .all_btn{
         background:dodgerblue; 
         padding: 10px;
         margin: 20px;
         width: 50%; 
         border: 1px solid cornsilk;
         border-radius: 5px;
         color: white;   
         font-size: 1.em;
         text-align: center;   
     }

     .wrapper{
         margin: 0px;
         word-wrap: break-word;
         width: 100%;
     }
 
         
     h2{
         text-align: center;
     }
 
     .done-section{
         margin: 0px; 
         width: 100%; 
         visibility: hidden;
     }
     
     .high-score{
 
         margin: 0px; 
         width: 100%; 
         visibility: hidden;
      }
 }